<!DOCTYPE html>
<html>
    <head>
        <!--<link type="text/css" rel="stylesheet" href="/reading_list/stylesheets/reading_list.css" />-->
    </head>
    <body>
        <div id="new-application">
            <form id="new-application-form" method="POST">
                {{form.hidden_tag()}}
                <p>Application name: {{form.name}}</p>
                <p>Application version: {{form.version}}</p>
                <p><input type="submit" value="Submit"></input></p>
                {% if form.name.error %}
                <p>{{form.name.error}}</p>
                {% endif %}
                {% if form.version.error %}
                <p>{{form.version.error}}</p>
                {% endif %}
            </form>
        </div>
    </body>
</html>
