{% from "render_field.html" import render_field with context %}
<!DOCTYPE html>
<html>
    <head>
        <!--<link type="text/css" rel="stylesheet" href="/reading_list/stylesheets/reading_list.css" />-->
    </head>
    <body>
        <div id="new-application">
            <form id="new-application-form" method="POST">
                {{form.hidden_tag()}}
                <p>*Application name: {{render_field(form.name)}}</p>
                <p><input type="submit" value="Submit"></input></p>
            </form>
        </div>
    </body>
</html>
