<!DOCTYPE html>
<html>
    <head>
        <!--<link type="text/css" rel="stylesheet" href="/reading_list/stylesheets/reading_list.css" />-->
    </head>
    <body>
        <div id="application">
            <form id="undefined-application-form" method="POST">
                {{form.hidden_tag()}}
                <p>Application <strong>{{name}}</strong> does not exist yet. Would you like
                to create it?</a>
                {{form.id}}
                {{form.yes}}
                {{form.no}}
            </form>
        </div>
    </body>
</html>
