            <table id="book_list_table">
                <tr class="header">
                    <td class="book_title"><a href="{{url_for('reading_list', sort='title')}}">Title</a></td>
                    <td class="book_author"><a href="{{url_for('reading_list', sort='author')}}">Author</a></td>
                    <td class="book_genre"><a href="{{url_for('reading_list', sort='genre')}}">Genre</a></td>
                    <td class="book_grade"><a href="{{url_for('reading_list', sort='grade')}}">Grade</a></td>
                </tr>
                {% for book in books: %}
                <tr>
                    <td><a href="{{url_for('reading_list_detail', book_id=book.key().id())}}">{{book.title}}</a></td>
                    <td>{{book.author}}</td>
                    <td>{{book.genre}}</td>
                    <td>{{book.grade}}</td>
                </tr>
                {% endfor %}
            </table>

            <div id="page_navigation">
                {% if page_number > 1 %}
                <a href="{{url_for("reading_list", page=first_page_number, sort=sort)}}">&lt;&lt; First page</a>
                <a href="{{url_for("reading_list", page=previous_page_number, sort=sort)}}">&lt; Previous page</a>
                {% endif %}
                <span id="page_number">{{page_number}}</span>
                {% if page_number < num_pages %}
                <a href="{{url_for("reading_list", page=next_page_number, sort=sort)}}">Next page &gt;</a>
                <a href="{{url_for("reading_list", page=last_page_number, sort=sort)}}">Last page &gt;&gt;</a>
                {% endif %}
            </div>
