<!DOCTYPE html>
<html>
    <head>
        <!--<link type="text/css" rel="stylesheet" href="/reading_list/stylesheets/reading_list.css" />-->
    </head>
    <body>
        {% if messages %}
        <div id="messages">
        {{messages[0]}}
        </div>
        {% endif %}
        <div id="application_list">
            {% for application_id in applications %}
            <h4>{{applications[application_id]["name"]}}</h4>
            <ul>
                {% for version in application_versions[application_id] %}
                <li>
                    <a href="{{url_for('edit_application', application_id=application_id, version=version, section='general_info')}}">{{version}}</a>
                    ({{application_versions[application_id][version]["release_type"]}})
                </li>
                {% endfor %}
            </ul>
            {% endfor %}
            <a href="{{url_for('create_application')}}">Create new application</a>
        </div>
    </body>
</html>
